@import '../../styles/vars.css';

.todoItem {
  align-items: center;
  background: var(--pending-todo);
  display: flex;
  justify-content: space-between;
  margin: .4rem 0;
  padding: .6rem 1rem;
  width: 100%;
}

.todoItem.overdue {
  background: var(--overdue-todo);
}

.todoItem.completed {
  background: var(--completed-todo);
}

.todoItem.completed .description {
  text-decoration: line-through;
}

.checkboxContainer {
  display: inline-block;
}

.checkboxContainer, .spinner {
  margin-right: .4rem;
}

.dueDateContainer {
  border: 1px solid var(--normal-font-color);
  padding: .2rem;
  letter-spacing: 1px;
}